<h1>Mi carrito!</h1>
<p><i>Estamos en el carrito {{cartPorId.id}}</i></p>

<button type="button" id="comprarButton">Comprar</button>

<h2>El Total del carrito ${{cartPorId.total}}</h2>

{{#ifEquals cartPorId.total 0}}
    <p>El carrito está vacío</p>
{{else}}
    <p>El carrito no está vacío</p>
{{/ifEquals}}

{{#if cartPorId}}
    {{#each cartPorId.products}}
        <div>
            <h2>Producto {{@index}} </h2>
            <p><i>ID:{{this.product._id}} </i></p>
            <p>Cantidad: {{this.quantity}}</p>
            {{#if this.product}}
                <p>Nombre del Producto: {{this.product.title}}</p>
                <p>${{this.product.price}}</p>
            {{/if}}
            <hr />
        </div>
    {{/each}}
{{else}}
    <p>No se encontró el carrito solicitado</p>
{{/if}}