
<h1>Lista de productos</h1>

Total productos :
{{result.totalDocs}}
<br />
Pages:
{{result.page}}
/
{{result.totalPages}}<br />
Limit:<input id="limit" type="number" value="{{result.limit}}" inputmode="numeric" />
Page: <input id="page" type="number" value="{{result.page}}" inputmode="numeric" />
<button id="btnSearch">Search</button>
Busquedad por título: <input id="query" type="text" value="{{result.query}}">

<input id="prevPage" type="hidden" value="{{result.prevPage}}">
<input id="nextPage" type="hidden" value="{{result.nextPage}}">

<a id="btnPrev" href="#" {{#unless result.hasPrevPage}}style="display:none" {{/unless}}>Previous</a>
<a id="btnNext" href="#" {{#unless result.hasNextPage}}style="display:none" {{/unless}}>Next</a>

{{#each result.products}}
    <div>
        <p>{{this.title}}</p>
        <p>$ {{this.price}}</p>
        <p>N° Id: {{this.id}}</p>
        <p>{{this.description}}</p>
        <p>Código de producto: {{this.code}}</p>
        <p>Cant. Stock:{{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>{{this.thumbnail}}</p>
        <hr />
    </div>
{{/each}}


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>