<div class="generalContainer__products">
    
<div class="carusel_main_container">
    <div class="center">
        <div class="carusel_cont">
            <button onclick="plusSlides(-1)" class="btnLeftCarusel"> ❮ </button>
    
            <div class="img_carusel_cont fade">
                <img src="/img/banners/BANNER 1.png" alt="" width="100%">
            </div>
            <div class="img_carusel_cont fade">
                <img src="/img/banners/BANNER 2.png" alt="" width="100%">
            </div>
            <div class="img_carusel_cont fade">
                <img src="/img/banners/BANNER 3.png" alt="" width="100%">
            </div>
            <div class="img_carusel_cont fade">
                <img src="/img/banners/BANNER 4.png" alt="" width="100%">
            </div>
            <div class="img_carusel_cont fade">
                <img src="/img/banners/BANNER 1.png" alt="" width="100%">
            </div>
    
            <button onclick="plusSlides(1)" class="btnRightCarusel"> ❯ </button>
        </div>
        <div class="dot_cont">
        
            <div onclick="currentSlide(1)" class="dot"></div>
            <div onclick="currentSlide(2)" class="dot"></div>
            <div onclick="currentSlide(3)" class="dot active"></div>
            <div onclick="currentSlide(4)" class="dot"></div>
            <div onclick="currentSlide(5)" class="dot"></div>
        
        </div>
    </div>
    
    
</div>
    <div class="container__topSection">
        <div class="userWelcome">
            <h1>Bienvenido a CapyArt {{user.first_name}} {{user.last_name}}!!</h1>
            <p>{{user.email}}</p>
            {{#ifEquals user.role "admin"}}
                <h4><b>Administrador</b></h4>
            {{else ifEquals user.role "premium"}}
                <h4><b>Usuario Premium</b></h4>
            {{else}}
                <h4><b>Usuario Estándar</b></h4>
            {{/ifEquals}}
        </div>
        
{{! !Para prueba en subida de archivos}}

{{!-- <div>
    <p>Subir Archivos</p>
    <form id="uploadForm" enctype="multipart/form-data">
            <select id="fileType">
                <option value="documents">Documentos</option>
                <option value="profiles">Perfil</option>
                <option value="products">Productos</option>
            </select>
        <input type="file" name="files" id="fileInput" multiple />
        <button type="submit">Subir Archivo(s)</button>
    </form>
    <div id="message"></div>
</div> --}}

        <div class="container__priceOrder">
            <label for="priceOrder">Ordenar por Precio:</label>
            <select id="priceOrder" name="priceOrder" onchange=orderPriceSelected()>
                <option value="">---</option>
                <option value="ascending">Ascendente</option>
                <option value="descending">Descendente</option>
            </select>
        </div>
    </div>
    <div class="container__productsAndFilter">
        <div class="container__filter">
        
            <h3>Lista de productos</h3>
        
            <h5>{{result.totalDocs}} resultados</h5>
            <br />
        
            Limit:<input id="limit" type="number" value="{{result.limit}}" inputmode="numeric" min="1" max="{{result.totalDocs}}"/>
            Page: <input id="page" type="number" value="{{result.page}}" inputmode="numeric"  min="1" max="{{result.totalPages}}"/>
            <br>
            <label for="category">Seleccionar Categoría:</label><br />
            <br>
            <label for="stockAvailability">Disponibilidad de Stock:</label>
            <select id="stockAvailability" name="stockAvailability">
                <option value="all">Todos</option>
                <option value="inStock">En Stock</option>
                <option value="outOfStock">Agotado</option>
            </select><br />

            <br>
            <input id="prevPage" type="hidden" value="{{result.prevPage}}">
            <input id="nextPage" type="hidden" value="{{result.nextPage}}">
        
        </div>
        <div class="container__card">
            {{#each result.payload}}
                <div class="cardProduct">
                    <div class="container__card--image">
                        {{#unless this.imageValidationResult}}
                            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="{{this.description}}">
                        {{else}}
                            <img src={{this.thumbnail}} alt="{{this.description}}">
                        {{/unless}}
                    </div>
                    <div class="container__card--body">
                        <p class="container__card--title">{{this.title}}</p>
                        <p>$ {{this.price}}</p>
                        <p>N° Id: {{this.id}}</p>
                        <p>{{this.description}}</p>
                        <p>Código de producto: {{this.code}}</p>
                        <p>Cant. Stock:{{this.stock}}</p>
                        <p>Categoría: {{this.category}}</p>
                        <button class="btnAddCart" data-product-id="{{this._id}}">Agregar al carrito</button>
                        <hr />
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    
    <div class="contenedor__pasarPaginas">
        <a id="btnPrev" href="#" {{#unless result.hasPrevPage}}style="display:none" {{/unless}}>< Anterior</a>
        {{result.page}} de {{result.totalPages}}
        <a id="btnNext" href="#" {{#unless result.hasNextPage}}style="display:none" {{/unless}}>Siguiente ></a>
    </div>
</div>

<script src="/js/home.js"></script>