<h1>Lista de productos en tiempo real</h1>

<!-- Agregar un nuevo producto con WebSockets -->
<h2>Agregar Nuevo Producto</h2>
<form id="productForm">
    <input type="text" id="title" placeholder="Título del producto">
    <input type="number" id="price" placeholder="Precio del producto">
    <input type="text" id="description" placeholder="Descripción del producto">
    <input type="text" id="title" placeholder="Código de producto">
    <input type="text" id="title" placeholder="Categoría del producto">
    <input type="text" id="title" placeholder="URL de imagén">
    <button type="submit">Agregar Producto</button>
</form>
<hr>
<!-- Elinar un producto usando WebSockets -->
<h2>Eliminar Producto por ID</h2>
<form id="deleteProductForm">
    <input type="text" id="titleDelete" placeholder="Id de producto a Eliminar">
    <button type="submit">Agregar Producto</button>
</form>
<hr>

<h2>Productos</h2>
{{#each products}}
    <h3>{{this.title}}</h3>
    <ul>
        <li>$ {{this.price}}</li>
        <li>N° Id: {{this.id}}</li>
        <li>{{this.description}}</li>
        <li>Código de producto: {{this.code}}</li>
        <li>Cant. Stock:{{this.stock}}</li>
        <li>Categoría: {{this.category}}</li>
        <li>{{this.thumbnail}}</li>
    </ul>
    <hr>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>