<nav class="headerLogueado">
    <div class="container">
        <div class="container__logo">
            <a href="/home">
                <img
                    src="/img/iconoCapyart.png"
                    alt="logo CapyArt"
                    class="logo"
                />
                <img
                    src="/img/iconoCapyartLetras.png"
                    alt="logo CapyArt"
                    class="logo"
                />
            </a>
        </div>
        <div class="container__buscador">
            <input
                id="query"
                type="text"
                value="{{result.query}}"
                placeholder="Buscar productos"
            />
            <button
                id="btnSearch"
                {{! Colocamos un role y aria-label para mejorar accesibilidad }}
                role="button"
                aria-label="Search"
            >Search</button>
        </div>
        <nav class="container__menus">
            <a href="/profile">{{user.first_name}}</a>

            <button id="btnSeeCart">Carrito</button>
        </nav>
        <div class="container__location">
            <div class="container__location--card">
                <img src="/img/icons/icons8-ubicación-ios-17-32.png" alt="" />
                <div class="locationText">
                    <p class="locationText__name">Enviar a
                        {{user.first_name}}</p>
                    <p class="locationText__ubication">Ubicación</p>
                </div>
            </div>
        </div>
        <div class="container__center">
            <select
                id="category"
                class="container__center-links"
                name="category"
            >
                <option value="">Categorías</option>
                <option value="cuadros">Cuadros</option>
                <option value="artesanias">Artesanías</option>
                <option value="bordados">Bordados</option>
                <option value="esculturas">Esculturas</option>
            </select>

            {{#ifEquals user.role "admin"}}
                <a href="http://localhost:8080/realtimeproducts">| Crear
                    Producto</a>
                <a href="#">| Administración de usuarios</a>
            {{else ifEquals user.role "premium"}}
                <a href="http://localhost:8080/realtimeproducts">| Crear
                    Producto</a>
                <a href="http://localhost:8080/chat">| CHAT</a>
                <a href="http://localhost:8080/api/users/premium/{{user._id}}">|
                    Cambiar Rol</a>
            {{else ifEquals user.role "user"}}
                <a href="http://localhost:8080/chat">| CHAT</a>
                <a href="http://localhost:8080/api/users/premium/{{user._id}}">|
                    Cambiar Rol</a>
            {{/ifEquals}}

        </div>
    </div>
</nav>